.lottery-ball{
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;

}

.lottery-ball-win{
    background-color: #00ff00;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.player-balls {
    margin: 55px;
}

.computer-balls {
    margin: 55px;
}

.computer-lottery-ball {
    height: 100px;
    width: 100px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawn-number {
    font-size: 4em;
    text-align: center;
    padding-left: 40px;
}

.player-choice {
    width: 100%;
    margin-top: 10px;
}

.start-button {
    margin-top: 10px;
    margin-bottom: 10px;
}


